<div class="container">
    <h1>Add Gas Collector</h1>
    <div class="icon-container">
      <button (click)="openDialog()">Add Gas Collector</button>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal" *ngIf="isDialogOpen">
    <div class="modal-content">
      <span class="close" (click)="closeDialog()">&times;</span>
      <h2>Add Gas Collector</h2>
      <form (ngSubmit)="addCollector()" #collectorForm="ngForm">
        <div>
          <label for="id">ID:</label>
          <input type="text" id="id" name="id" required [(ngModel)]="collector.id" placeholder="Enter product ID" />
        </div>
        <div>
          <label for="capacity">Capacity:</label>
          <input type="text" id="capacity" name="capacity" required [(ngModel)]="collector.capacity" placeholder="Enter capacity" />
        </div>
        <div>
          <label for="price">Price:</label>
          <input type="text" id="price" name="price" required [(ngModel)]="collector.price" placeholder="Enter price" />
        </div>
        <div>
          <label for="stock">Stock:</label>
          <input type="text" id="stock" name="stock" required [(ngModel)]="collector.stock" placeholder="Enter stock quantity" />
        </div>
        <button type="submit" [disabled]="!collectorForm.form.valid">Add Gas Collector</button>
        <button type="button" (click)="closeDialog()">Cancel</button>
      </form>
    </div>
  </div>