<div class="sidebar-trigger">
  <aside class="sidebar">
      <div class="sidebar-content">
          <div class="profile-section">
              <div class="profile-image">
                  <i class="ri-user-line"></i>
              </div>
              <div class="profile-info" *ngIf="userDetails">
                <p>Name: {{userDetails.name}}</p>
                <p>Email: {{userDetails.email}}</p>
                <p>Role: {{getUserRole()}}</p>
                <p>Contact: {{userDetails.contactNo}}</p>
              </div>
          </div>

          <nav>
              <ul class="nav-links">
                  <li class="nav-item">
                      <a href="/admin-dashboard" class="nav-link active">
                          <i class="ri-home-line"></i>
                          <span>Home</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">
                          <i class="ri-user-line"></i>
                          <span>My Profile</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">
                          <i class="ri-team-line"></i>
                          <span>Customer</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">
                          <i class="ri-store-2-line"></i>
                          <span>Products</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">
                          <i class="ri-shopping-cart-line"></i>
                          <span>Order</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">
                          <i class="ri-notification-line"></i>
                          <span>Notifications</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </aside>
</div>
