<div class="dashboard-container">
<app-admin-dheader></app-admin-dheader>

<div class="dashboard-container">
  <main class="main-content">
    <div class="header">
      <h1>Dashboard</h1>
      <div class="contact-info" *ngIf="userDetails">
        <i class="ri-phone-line" style="margin-right: 10px; font-size: 24px;"></i>
        <a href="tel:{{userDetails.contactNo}}">{{userDetails.contactNo}}</a>
      </div>
    </div>
    <div class="banner-image">
      <img class="gas" alt="">
    </div>
    <div class="customer-table">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Delivered</th>
            <th>Delivery Date</th>
            <th>Next Delivery Date</th>
            <th>Status</th>
            <th>Outlet Id</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let order of orders"> -->
            <tr>
            <td>1</td>
            <td>true</td>
            <td>2021-09-01</td>
            <td>2021-09-08</td>
            <td>Delivered</td>
            <td>1</td>

            <!-- <td>{{ order.customerName }}</td>
            <td>{{ order.addressLine1 }} {{ order.addressLine2 }}, {{ order.city }}</td>
            <td>{{ order.deliveryDate }}</td>
            <td>{{ order.deliveryTime }}</td>
            <td>{{ order.paymentMethod }}</td>
            <td>{{ order.hasEmptyCylinder }}</td>
            <td>{{ order.mobileNumber }}</td> -->
            <!-- <td><button class="action-button" (click)="order.id !== undefined && deleteOrder(order.id)">Proceed</button>
            </td> -->
            <td><button class="action-button" style="background-color: #FFD700;">Proceed</button></td>
          </tr>
          <tr>
            <td>2</td>
            <td>false</td>
            <td>2025-09-01</td>
            <td>2025-09-08</td>
            <td>Pending</td>
            <td>2</td>
            <td><button class="action-button" style="background-color: #FFD700;">Proceed</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>

<app-admin-sidebar></app-admin-sidebar>
</div>
